In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
df=pd.read_csv('/content/Datasets Python.csv')
df.head()

,Title,Description
0,Python Operators,Python Operators in general are used to perfor...
1,Increment and Decrement Operators in Python,"If you’re familiar with Python, you would have..."
2,Logical Operators on String in Python,"Python logical operator ""and"" and ""or"" can be ..."
3,Inplace vs Standard Operators in Python,Inplace operation is an operation which direct...
4,Python Datatypes,Data types are the classification or categoriz...

In [ ]:
#df.drop('Title',inplace=True,axis=1)
#df.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        80 non-null     object
 1   Description  80 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [ ]:
df['Title']=df['Title'].apply(lambda x:x.replace(':',' '))
df['Title']=df['Title'].apply(lambda x:x.replace(',',' '))
df['Title']=df['Title'].apply(lambda x:x.replace('-',' '))

df['Description']=df['Description'].apply(lambda x:x.replace('-',' '))
df['Description']=df['Description'].apply(lambda x:x.replace('.',' '))
df['Description']=df['Description'].apply(lambda x:x.replace(':',' '))
df['Description']=df['Description'].apply(lambda x:x.replace(',',' '))

In [ ]:
df.head()

,Title,Description
0,Python Operators,Python Operators in general are used to perfor...
1,Increment and Decrement Operators in Python,If you’re familiar with Python you would have...
2,Logical Operators on String in Python,"Python logical operator ""and"" and ""or"" can be ..."
3,Inplace vs Standard Operators in Python,Inplace operation is an operation which direct...
4,Python Datatypes,Data types are the classification or categoriz...

In [ ]:
df['Final Col']=df['Title']+' '+df['Description']
df['Final Col']

0     Python Operators Python Operators in general a...
1     Increment and Decrement Operators in Python If...
2     Logical Operators on String in Python Python l...
3     Inplace vs Standard Operators in Python Inplac...
4     Python Datatypes Data types are the classifica...
                            ...
75    Python For Loops Python For loop is used for s...
76    Python Nested Loops In Python programming lang...
77    How to Break out of multiple loops in Python ?...
78    Specifying the increment in for loops in Pytho...
79    Python While Loop Python While Loop is used to...
Name: Final Col, Length: 80, dtype: object

In [ ]:
df.head()

,Title,Description,Final Col
0,Python Operators,Python Operators in general are used to perfor...,Python Operators Python Operators in general a...
1,Increment and Decrement Operators in Python,If you’re familiar with Python you would have...,Increment and Decrement Operators in Python If...
2,Logical Operators on String in Python,"Python logical operator ""and"" and ""or"" can be ...",Logical Operators on String in Python Python l...
3,Inplace vs Standard Operators in Python,Inplace operation is an operation which direct...,Inplace vs Standard Operators in Python Inplac...
4,Python Datatypes,Data types are the classification or categoriz...,Python Datatypes Data types are the classifica...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

df['Final Col'] = df['Final Col'].fillna('')
tfidf_matrix = tfidf.fit_transform(df['Final Col'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tfidf_matrix)

In [ ]:
similarity

array([[1.        , 0.30259873, 0.33746048, ..., 0.02105205, 0.00841246,
        0.03059284],
       [0.30259873, 1.        , 0.11029032, ..., 0.00581057, 0.13364448,
        0.00782385],
       [0.33746048, 0.11029032, 1.        , ..., 0.00786879, 0.02064031,
        0.05211112],
       ...,
       [0.02105205, 0.00581057, 0.00786879, ..., 1.        , 0.09064565,
        0.02386352],
       [0.00841246, 0.13364448, 0.02064031, ..., 0.09064565, 1.        ,
        0.02194982],
       [0.03059284, 0.00782385, 0.05211112, ..., 0.02386352, 0.02194982,
        1.        ]])

In [ ]:
indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [ ]:
def get_recommendations(title, cosine_sim=similarity):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    courses = [i[0] for i in sim_scores]

    return df['Title'].iloc[courses]

In [ ]:
get_recommendations('Python Operators')

3         Inplace vs Standard Operators in Python
2           Logical Operators on String in Python
1     Increment and Decrement Operators in Python
4                                Python Datatypes
32                         Polymorphism in Python
Name: Title, dtype: object

In [ ]:
get_recommendations('Python OOPs Concepts')

31                          Encapsulation in Python
33      Ways of implementing Polymorphism in Python
74    How to control PC from anywhere using Python?
4                                  Python Datatypes
21                       Python Classes and Objects
Name: Title, dtype: object